---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
    title="Éxperiences | Aatricks"
>
    <div class="stack gap-20" style="min-height: 100vh; overflow: hidden;">
        <main class="wrapper stack gap-8">
            <Grid variant="offset">
                <li>
                    <PortfolioPreview project={projects[0]} image="/Portfolio/assets/SD1.webp" />
                </li>
                <li>
                    <PortfolioPreview project={projects[1]} image="/Portfolio/assets/adb.webp" />
                </li>
                <li>
                    <PortfolioPreview project={projects[2]} image="/Portfolio/assets/spotify.webp" />
                </li>
                <li>
                    <PortfolioPreview project={projects[3]} image="/Portfolio/assets/dramaquick.webp" />
                </li>
                <li>
                    <PortfolioPreview project={projects[4]} image="/Portfolio/assets/julia.webp" />
                </li>
                <!--
                {
                    projects.slice(2).map((project) => (
                        <li>
                            <PortfolioPreview project={project} />
                        </li>
                    ))
                }
                -->
            </Grid>
        </main>
    </div>
</BaseLayout>

<style>
    .wrapper{
        justify-content: center;
        align-items: center;
    }
</style>