---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
    title="Éxperiences | Aatricks"
>
    <div class="stack gap-20" style="min-height: 100vh; overflow: hidden;">
        <main class="wrapper stack gap-8">
            <header class="title">
				<h3>Mes Projets</h3>
			</header>
            <Grid variant="offset">
                <li>
                    <PortfolioPreview project={projects[0]} image="/Portfolio/assets/julia.webp" />
                </li>
                <li>
                    <PortfolioPreview project={projects[1]} image="/Portfolio/assets/julia (1).webp" />
                </li>
                <li>
                    <PortfolioPreview project={projects[2]} image="/Portfolio/assets/julia2.webp" />
                </li>
				<li>
					<PortfolioPreview project={projects[3]} image="/Portfolio/assets/dramaquick.webp" />
				</li>
                <!--
                {
                    projects.slice(2).map((project) => (
                        <li>
                            <PortfolioPreview project={project} />
                        </li>
                    ))
                }
                -->
            </Grid>
        </main>
    </div>
</BaseLayout>

<style>
    .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
	}

    .PortfolioPreview img {
        display: block;
        height: auto; /* Adjust this value as needed */
        width: 100%;
        height: 100%;
    }

    .title h3{
        font-size: var(--text-2xl);
    }

    @media (max-width: 800px) {
    .title {
        height: auto; /* Adjust this value as needed */
    }

    .title h3 {
        font-size: var(--text-xl); /* Adjust this value as needed */
    }
    }
</style>